DATABASE_URL=postgresql://postgres:zlPIKu0J0xtkcrjA@db.mpqrhkjwusfbysjxazqn.supabase.co:5432/postgres
OPENAI_API_KEY=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